* {
  margin: 0;
  padding: 0
}

html {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

img {
  max-width: 100%;
}

.container {
  width: 600px;
}

.btn {
  display: block;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

.btn:hover {
  background-color: #aaa;
  color: #fff;
}

/* Password Card */

.container .password-card {
  background-color: #fff;
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container .password-card h2 {
  text-align: left;
  margin-bottom: 2rem;
  color: #333;
}

/* User Info */

.container .password-card .user-info {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  gap: 2rem;
}

.container .password-card .user-info .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.container .password-card .user-details {
  color: #333;
}

.container .password-card .user-details .user-name {
  font-weight: bold;
  margin-top: 0.3rem;
}

/* Password Input */

label {
  display: block;
  margin-bottom: 0.5rem;
  color: #333;
  font-weight: bold;
}

.container .password-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

#password {
  width: 90%;
  padding: 0.7rem;
  border: 1px solid #333;
  border-radius: 5px;
  font-size: 1rem;
  margin-right: 0.5rem;
}

#password::placeholder {
  color: #aaa;
  font-size: 30px;
}

.container .options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 10px;
  position: relative;
}

.container .options .checkbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.container .options .checkbox-container .circle {
  border: 1px solid #333;
  background-color: #aaa;
  width: 60px;
  height: 30px;
  border-radius: 50px;
  position: relative;
  padding: 2px;
}

.container .options .checkbox-container .circle::after {
  content: '';
  border: 1px solid #333;
  background-color: #fff;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
}

.container .options .btn {
  position: absolute;
  top: 0;
  right: 25px;
}

.container .reset-password {
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}





