* {
  margin: 0;
  padding: 0
}

html {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

img {
  max-width: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90%;
}

/* Password Card */

.container .password-card {
  background-color: #fff;
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 400px;
}

.container .password-card h2 {
  text-align: center;
  margin-bottom: 2rem;
  color: #333;
}

/* User Info */

.container .password-card .user-info {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  gap: 2rem;
}

.container .password-card .user-info .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.container .password-card .user-details {
  margin: 0;
  color: #333;
}

.container .password-card .user-details .user-name {
  font-weight: bold;
  margin-top: 0.3rem;
}

/* Password Input */

label {
  display: block;
  margin-bottom: 0.5rem;
  color: #333;
  font-weight: bold;
}

.password-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#password {
  width: 70%;
  padding: 0.7rem;
  border: 1px solid #333;
  border-radius: 5px;
  font-size: 1rem;
  margin-right: 0.5rem;
}

#password::placeholder {
  color: #aaa;
}





