@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(236, 238, 237);
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  width: 600px;
  background-color: #f5f5f5;
  padding: 2rem;
  box-shadow: 5px 5px 5px lightblue;
  border-radius: 10px;
  text-align: center;
}

.container h1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.container h3 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.container .form {
  margin-top: 1.5rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .form input[type=email] {
padding: 0.6rem 0.8rem;
border: 1px solid gray;
font-size: 0.8rem;
margin-right: 1rem;
width: 70%;
}

.container .form .btn {
  background-color: rgb(25, 174, 219);
  padding: 0.6rem 0.8rem;
  color: #f5f5f5;
  outline: none;
  border: none;
  border-radius: 5px;
  width: 30%;
}

.container .form .btn span {
  margin-left: 1rem;
}

.container .checkbox {
  text-align: left;
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

